@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: bold;
}

p{
  font-size: 17px;
}

header {
    background-color: #0E0E1D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 750px;
    height: 70px;
    border-bottom: solid 1.5px #661818;
    font-family: 'Roboto', sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    transition: ease-in .2s;
    color: #e93434;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #0E0E1D;
  min-width: 200px;
  top: 35px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: #ff0112 0px 1px 2.5px 0px;
}

.dropup-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropup-content a:hover {
  color: #ee313e;
}

.dropup:hover .dropup-content {
  display: block;
}

/*   acima é treco do kauã pra parte de cima   */


  .container {      /*    parte do video e da caixa de dentro do video  'planos e tals'   */
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  }

  .container .conteudo {    /*   conteudo = caixa de dentro de video   */
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.685); /*  cor da caixa de conteudo com opacidade nao padrao  */
  color: #f1f1f1;     /*cor das palavras */
  width: 24%;  
  max-height: 25%;    /*medidas da caixa*/
  padding: 20px;
  bottom: 15%;
  left: 9.5%;
  top: 450px;
  border-radius: 7px;
  }

/* imagens do slideshow */
.slideshow-imgs {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* botoes de 'avançar' e 'voltar' no slide */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posicao do botao 'avançar' na direita do slide */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* botao 'avança' e 'volta' fica preto com hover */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

html {
  background-color: #000000;
  background-image: linear-gradient(to bottom, #0E0E1D,#00000036 , #0e0e42);
}

.butao{
  border: 5px solid #ffffff;
  border-style: double;
  padding: 6px;
}


footer{
  border-top: solid 1px #661818;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(to bottom,#00000025,#12038148,#00000050);
  padding-top: 20px;
  padding-bottom: 1%;
  font-family: "Roboto", sans-serif;
}

.rodape{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.conteudo-rodape{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.conteudo-rodape h1{
  width: 50%;
  font-size: 40px;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
}

.links:hover{
  color: #F31020;
  transition: .2s ease-in;
}

.rodape h1{
  background-image: linear-gradient(to bottom, #f31020, #d26a6a);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}