@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color:white;
}

body {
  background-image: linear-gradient(#0E0E1D, #101035);
}

header {
  background-color: #0E0E1D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 750px;
  height: 70px;
  border-bottom: solid 1.5px #661818;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  transition: ease-in .2s;
  color: #e93434;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #0E0E1D;
  min-width: 200px;
  top: 35px;
  z-index: 1;
  border-radius: 10px;
}

.dropup-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.dropup-content a:hover {
  color: #ee313e;
}

.dropup:hover .dropup-content {
  display: block;
}
/*BARRA DE NAVEGACAO/CABECALHO*/

.banner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  display: none;
}

/*------------MAIN------*/
/* NOVIDADES */
/* GRADE DE LANCAMENTOS */

.grade_de_lancamento {
  display: inline;
  position: relative;
  box-sizing: inherit;
}

.guia_de_lancamento {
  height: 600px;
  background-image: url(../img/avatar_background3.jpg);
  background-size: cover;
  background-position: 50%;
  box-shadow: none;
  -moz-box-shadow: 0px 20px 20px #ff0000;
  -webkit-box-shadow: 0px 15px 40px #ff0000;
}

.nome_em_breve {
  color: #FFFFFF;
  font-size: 80px;
  position: absolute;
  padding-left: 5%;
  padding-top: 6%;
}

.avatar_logo {
  position: absolute;
  padding-left: 1%;
  padding-top: 7%;
}

.div_button_reserva {
  position: absolute;
  padding-top: 26%;
  padding-left: 3%;
}

.button_reserva {
  font-size: 30px;
  width: 350%;
  color: #0E0E1D;
  background-color: #FFFFFF;
  border-radius: 40px;
  cursor: pointer;
  transition: ease-out 2s;
}

.button_reserva:hover {
  background-image: linear-gradient(to bottom, #ff0000, #0E0E1D);
  color: white;
  transition: ease-out 2s;
}

/* JOGOS */
.grade_de_jogos{
  background-image: linear-gradient(#25254e,#0E0E1D);
  
}
.nome_principais_jogos{
  font-size: 40px;
  color: #FFFFFF;
  padding-left: 5%;
  padding-top:3%;
}
.grade_principais_jogos{
  display: flex;
  justify-content: flex-start;
  
}
.nome_mais_jogos{
  font-size: 40px;
  color: #FFFFFF;
  padding-left: 5%;
  padding-top: 2%;
}
.grade_mais_jogos{
  display: flex;
  justify-content: flex-start;
}
.imagem_jogo{
  margin: 5px;
  padding-top: 2%;
}

/* FRANQUIAS DE SUCESSO */
strong {
  color: #ff0000;
}

.nome_jogo {
  background-image: linear-gradient(#0E0E1D, #101035);
  padding: 30px;
  color: #FFFFFF;
  font-size: 50px;
  padding-left: 5%;
  text-shadow: #ee313e;
}

.galeria1 {
  display: flex;
  justify-content:center;
}

.galeria1 a img {
  aspect-ratio: 9/16;
  min-width: 0;
  width: 100%; /* Garanta que a imagem ocupe toda a largura da âncora */
  height: auto;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s;
}

.galeria1 a img {
  aspect-ratio: 9/16;
  min-width: 0;
  width: 100%; /* Garanta que a imagem ocupe toda a largura da âncora */
  height: auto;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s;
}

.galeria1 a {
  text-decoration: none; /* Remova a decoração de texto das âncoras */
  color: inherit; /* Mantenha a cor do texto herdada */
  flex-basis: calc(25% - 20px); /* Defina a largura das âncoras com um espaço entre elas */
  position: relative;
  overflow: hidden;
  margin-right: 10px; /* Adicione um espaço horizontal entre as imagens */
}

.galeria1 a:hover img {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}

.galeria1 a:last-child {
  margin-right: 0; /* Remove a margem à direita da última imagem */
}
/* FOOTER ABAIXO */

footer{
  border-top: solid 1px #661818;
  background-image: linear-gradient(#232344, #101035,rgb(20, 20, 34));
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 1%;
  font-family: "Roboto", sans-serif;
}

.readdead{
  margin-left: 30px;
}

.rodape{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.conteudo-rodape{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.conteudo-rodape h1{
  width: 50%;
  font-size: 40px;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
}

.links:hover{
  color: #F31020;
  transition: .2s ease-in;
}

.rodape h1{
  background-image: linear-gradient(to bottom, #f31020, #d26a6a);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
